/* front page */
#header {
    position: absolute;
    top: 45%;
    bottom: 20%;
    text-align: center;
}

#header h1 {
    margin: 0 0 0.5em 0;
    padding: 0px;
}

/* title */
h1, h2, h3 {
    border: none;
    color: #333399;
}

div.slide h1 {
    margin-top: 40px;
}

/* section body */
ul > li, ul > li > *, ol > li, ol > li > * {
    color: #800000;
}

li li, li li > * {
    color: #000066;
}

.sectionbody {
    color: #800000;
}

/* footer */
#footer {
    display: none;
}
