/*
  A common approach is to use googleapis.com to generate css for the webfonts you want to use.
  The downside of this approach is that you have to be online. So below I have simply saved
  the output of the googleapis url into a file. Then you of course also have to make sure
  the webfonts are locally installed to make offline usage work. For Ubuntu (or Debian) I
  successfully used the script from here to do that:
  http://www.webupd8.org/2011/01/automatically-install-all-google-web.html
*/

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic|Cutive+Mono); */
/* @import url(fonts.css); */


/*
  The body background is the bacgkround of "everything". Many
  impress.js tools call it the "surface". It could also be a
  picture or pattern, but we leave it as light gray.
*/

body {
    min-height: 740px;

    background: rgb(215, 215, 215);
    color: rgb(70, 70, 70);

    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

/* 块/段落引用 */
blockquote {
  position: relative;
  color: #333;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}

/*  */
b, strong { font-weight: bold }
h1, h2, h3, h4, h5, h6 { color: #000000 }
/* i, em { font-style: italic } */
/*  */
/* em { */
/*     text-shadow: 0 6px 6px rgba(0, 0, 0, .3); */
/* } */
/*  */
/* strong { */
/*     text-shadow: -3px 3px 6px rgba(100,100,100,0.5); */
/* } */


table {
  border-collapse: collapse;
  /* width: 100%; */
  /* max-width: 100%; */
  margin-bottom: 1rem;
  background-color: transparent;
  /* border-spacing: 0; */
  /* color: #212529; */
  border: 1px solid #646464;
  margin-left: auto;
  margin-right: auto;
}
th {
  text-align: inherit;
}
thead {
  display: table-header-group;
}
th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #646464;
}
thead th,
thead td {
  border-bottom: 2px solid #646464;
}
thead th {
  vertical-align: bottom;
}
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless thead td {
  border: none;
}
table tbody + tbody {
  border-top: 2px solid #646464;
}
table table {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

q {
    /* font-family: 'PT Serif'; */
    font-style: italic;
    /* font-weight: 400;     */
    text-shadow: 0 6px 6px rgba(0, 0, 0, .3);
}

.slide q {
    display: block;
    margin-top: 100px;
}

/* strike { */
/*     opacity: 0.7; */
/* } */
/*  */
/* small { */
/*     font-size: 0.4em; */
/* } */
/*  */
/* .left-align { */
/*   text-align: left; */
/* } */
/*  */
/* .center { */
/*   text-align: center; */
/* } */
/*  */
/* .right-align { */
/*   text-align: right; */
/* } */
/*  */
/* .strike { */
/*     text-decoration: line-through; */
/* } */
/*  */
/* .inline-block { */
/*     position: inline-block; */
/* } */

.font-normalsize {
    font-size: 100%;
}
.font-larger1 {
    font-size: 110%;
}
.font-larger2 {
    font-size: 120%;
}
.font-larger3 {
    font-size: 130%;
}
.font-larger5 {
    font-size: 150%;
}
.font-larger5 {
    font-size: 200%;
}


.future .only-present,
.past .only-present {
    opacity: 0;
    transition: opacity 1s;
}

.present .only-present {
    opacity: 1;
    transition: opacity 1s;
}

.accent, .accent1 {color: #4e91e4;}
.accent2 {color: #ee675d;}
.accent3 {color: #ac94e8;}
.accent4 {color: #60d2b6;}

/* color codes from siimple css.
 * https://docs.siimple.xyz/getting-started/theming.html
 */
.primary {color: #4e91e4;}
.success {color: #4acf7f;}
.warning {color: #fbc850;}
.error {color: #ee675d;}
.dark {color: #546778;}
.light {color: #dde5ee;}

.navy {color: #546778;}
.green {color: #93d260;}
.teal {color: #60d2b6;}
.blue {color: #4e91e4;}
.purple {color: #ac94e8;}
.pink {color: #e77eb8;}
.red {color: #ee675d;}
.orange {color: #f78055;}
.yellow {color: #fbc850;}
.grey {color: #dde5ee;}


/* Inline code, no Highlight.js */
code {
    font-family: "Cutive mono","Courier New", monospace;
}


a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(200,200,200,0.2);
    text-shadow: -2px 2px 4px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    border-bottom: 3px solid rgba(100,100,100,0.2);
    border-left:   3px solid rgba(100,100,100,0.2);

    transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(200,200,200,1);
    text-shadow: -2px 2px 3px rgba(100,100,100,0.5);
}

td {
    padding: 0.2em;
}

/*
    Now let's style the presentation steps.
*/

.step {
    position: relative;
    width: 1800px;
    padding: 3rem;
    margin: 3rem;

    box-sizing:       border-box;

    font-size: 3.75em;
    line-height: 1.5;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

#impress.debug .step {
    /* for layout debuggind */
    background-color: #F0808020;
}

.step code {
    line-height: 1;
}

/*
    Make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.9;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.box {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css
*/
.slide {
    display: block;

    width: 1850px;
    height: 1000px;
    padding: 2rem 3rem;

    text-shadow: 0 3px 3px rgba(0, 0, 0, .2);

    font-size: 3.75em;
    letter-spacing: -2px;

    /* background-image: url(../images/background.png); */
}

.slide.active,
.slide.active * {
    OFFborder: 3px solid red;
}

/* Fix for slides with data-z != 0 */
.slide.zfix,
.slide.zfix * {
    padding-top: 0px;
    margin-top: 0px;
}

.slide h1,
.slide h2,
.slide h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    /* text-align: center; */
}

.slide p {
    /* text-align: center; */
    /* margin: 0.7em; */
}

.slide li {
    /* margin-top: 0.2em; */
    /* margin-bottom: 0.2em; */
    /* margin-left: 3em; */
    /* margin-right: 3em; */
}

.slide pre {
    font-size: 0.6em;
    line-height: 0.7em;
}

/* Highlight.js used for coloring pre > code blocks. */
.slide pre > code {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.slide input {
    font-size: 1em;
}

.slide .float-right {
    float: right;
    margin-left:  1rem;
    margin-right:   0rem;
    margin-top:    1rem;
    margin-bottom: 1rem;
}
.slide .float-left {
    float: left;
    margin-right: 1rem;
    margin-left:    0rem;
    margin-top:    1rem;
    margin-bottom: 1rem;
}
.slide .top {
    position: absolute;
    top: 1rem;
    margin-bottom:  1rem;
    margin-top:      0rem;
}
.slide .bottom {
    position: absolute;
    bottom: 1rem;
    margin-bottom:   0rem;
    margin-top:     1rem;
}
.slide .right {
    position: absolute;
    right: 0rem;
    margin-left:  1rem;
    margin-right:   0rem;
    margin-top:    1rem;
    margin-bottom: 1rem;
}
.slide .left {
    position: absolute;
    left: 0rem;
    margin-right: 1rem;
    margin-left:    0rem;
    margin-top:    1rem;
    margin-bottom: 2rem;
}

/*
    Specific styles for: .title slides
*/

.step.title {
    display: block;

    width: 1850px;
    height: 1000px;
    padding: 2rem 3rem;
}

.title h1,
.title h2,
.title h3 {
    position: absolute;
    left: 90px; /* slide width is 1800px, so this is like a 5% margin on both sides */
    width: 90%;
    text-align: center;
}
.title h1 { top: 200px; }
.title h2 { top: 400px; }
.title h3 { top: 600px; }



/* Styles for animating the contents of a slide, such as a img, p, li or span element. ********/

/*
 fly-in class starts from a position outside the slide, then flies into it's correct position.
*/
.future .fly-in {
    transform: translateY(-2100px);
    opacity: 0.0; /* Make it invisible, just so it doesn't clutter some other slide that might be in the position where we moved it */
}
.present .fly-in {
    transform:         translateY(0px);
    opacity: 1.0;
    transition:         2s;
}
.past .fly-out {
    transform:         translateY(2100px);
    opacity: 0.0;
    transition:         2s;
}

/*
   Fade-in/out is a straightforward fade. Give it enough seconds that all browsers render it clearly.
*/
.future .fade-in {
    opacity: 0.0;
}
.present .fade-in {
    opacity: 1.0;
    transition: 7s;
}
.past .fade-out {
    opacity: 0.0;
    transition: 3s;
}
/*
    Zoom-in.
*/
.future  .zoom-in {
    transform:        scale(10);
    opacity: 0.0;
}
.present .zoom-in {
    transform:         scale(1);
    opacity: 1.0;
    transition: 3s;
}
.past  .zoom-out {
    transform:        scale(10);
    opacity: 0.0;
}

/*
    Styles for specific slides.
*/


/* Default */
.step {
    opacity: 1;
    transition:         opacity 3s;
}

/* Slides that are visible only during their turn. Typically on top of another slide. */
.step.subslide {
    opacity: 0;
    transition:         opacity 1s;

    padding-top: 300px;
}

.step.subslide.active {
    opacity: 1;
    transition:         opacity 1s;
}

.step.subslide p {
    text-align: left;
}

#impress .substep.substep .only-substep-active {
    opacity: 0;
}
#impress .substep.substep-active .only-substep-active {
    opacity: 1;
}

#overview {
    pointer-events: none
}

/* We need substeps to go away so they don't show up on the adjacent slide */
/* #impress .step.past .substep.substep-visible { */
/*     opacity: 0; */
/*     transition: 2s; */
/* } */

