// from a11y-light.css
@use 'common' with (
    $bg-color: #fefefe,
    $text-color: #545454,
    $title-color: #007faa,
    $list-alt-color: #aa5d00,
    $accent-color: #7928a1,
    $border-color: #696969,
    $link-color: #aa5d00,
);
