// from dracula.css
@use 'common' with (
    $bg-color: #282a36,
    $text-color: #8be9fd,
    $title-color: #f1fa8c,
    
    $accent-color: #8be9fd,
    $border-color: #6272a4,
    $link-color: #8be9fd,
);
