// from a11y-dark.css
@use 'common' with (
    $bg-color: #2b2b2b,
    $text-color: #f8f8f2,
    $title-color: #00e0e0,
    $list-alt-color: #f5ab35,
    $accent-color: #dcc6e0,
    $border-color: #d4d0ab,
    $link-color: #f5ab35,
);
