// from atom-one-dark.css
@use 'common' with (
    $bg-color: #282c34,
    $text-color: #abb2bf,
    $title-color: #61aeee,
    $list-alt-color: #e6c07b,
    $accent-color: #c678dd,
    $border-color: #5c6370,
    $link-color: #61aeee,
);
