// from default.css
@use 'common' with (
    $bg-color: #F0F0F0,
    $text-color: #444,
    $title-color: #880000,
    $list-alt-color: #397300,
    $accent-color: #880000,
    $border-color: #888888,
    $link-color: #BC6060,
);
