// from vs2015.css
@use 'common' with (
    $bg-color: #1E1E1E,
    $text-color: #DCDCDC,
    $title-color: #DCDCDC,
    $list-alt-color: #4EC9B0,
    $accent-color: #569CD6,
    $border-color: #57A64A,
    $link-color: #569CD6,
);
